<aside class="links">
    <h2 class="links__title">На связи</h2>
    <dl class="links__list">
        <div class="links__section">
            <dt class="links__definition">Общайтесь и пишите код вместе с нами</dt>
            <dd class="links__description">
                <a
                    class="links__link links__link--telegram"
                    href="https://t.me/hanriel_chat"
                    aria-label="Чат"
                ></a>
                <a
                    class="links__link links__link--github"
                    href="https://github.com/hanriel"
                    aria-label="Гитхаб"
                ></a>
            </dd>
        </div>
    </dl>
</aside>
