<footer class="footer">
    <dl class="links__list">
        <dd class="links__description">
            <a class="links__link links__link--telegram" href="https://t.me/hanriel_chat" aria-label="Чат" ></a>
            <a class="links__link links__link--github" href="https://github.com/hanriel" aria-label="Гитхаб"></a>
            <a class="links__link links__link--vk" href="https://vk.com/hanriel59" aria-label="Вконтакте" ></a>
        </dd>
    </dl>
</footer>
