<footer class="footer">
    <p class="footer__copy">
        <span class="footer__organization">Hanriel,</span> 2020–{{ site.buildYear }}
    </p>
    <ul class="footer__pages">
        <li><a class="footer__link" href="/articles/">Статьи</a></li>
        <li><a class="footer__link" href="/articles/tags/">Категории</a></li>
        <li><a class="footer__link">О проекте</a></li>
    </ul>
    <p class="footer__design">
        <span class="footer__design-caption">Дизайн сайта:</span>
        <a class="footer__link" href="https://dogewell.ru/">Dogewell</a>
    </p>
</footer>
