{% if page.url != '/' %}
    {% set path = '/../../' %}
    {% set mainLinkPath = 'href="/"' %}
{% endif %}
{% set headerMod = 'header--index' %}
{% set menuMod = 'menu--index' %}
{% set logoMod = 'logo--index' %}

<aside class="aside">
    <header class="header {{ headerMod }}">
        <div class="header__logo logo {{ logoMod }}">
            <a class="logo__link"{{ mainLinkPath | safe }}>
                <img class="logo__image"
                    src="{{ path }}images/hanriel.jpg"
                    width="75" height="75"
                    alt="Логотип Hanriel">
                <span class="logo__author">Fedoseev Danil</span>
            </a>
        </div>
        <p class="logo__description text-muted">Преподаватель, системный администратор, разработчик, одним словом IT-специалист из России. </p>
        <nav class="header__menu menu {{ menuMod }}">
            {% include 'menu.njk' %}
        </nav>
    </header>

    {% include 'footer.njk' %}

</aside>
