/* Header */

.header {
    position: relative;
    display: grid;
    padding: 16px;
    border-bottom: 1px solid var(--color-grey-lighter);
}

@media (min-width: 736px) {
    .header {
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        border-bottom: none;
    }

    .header--index {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1008px) {
    .header {
        padding-right: 88px;
        padding-left: 88px;
    }
}

/* Logo */

@media (max-width: 735px) {
    .header__logo {
        z-index: 1;
    }
}

@media (min-width: 736px) {
    .header__logo {
        align-self: start;
    }

    .header--index .header__logo {
        padding: 32px 0 16px;
    }
}

/* Menu */

@media (max-width: 735px) {
    .header__menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

@media (min-width: 736px) {
    .header__menu {
        align-self: center;
    }
}
