/* Header */

.header {
    position: relative;
    display: grid;
    padding: 16px;
    border-bottom: 1px solid var(--color-grey-lighter);
}

@media (min-width: 736px) {
    .header {
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        /*padding-right: 24px;*/
        padding-bottom: 16px;
        /*padding-left: 24px;*/
        border-bottom: none;
    }

    .header--index {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 960px) {
    .header {
        /*width: calc(33.3% - 20px);*/
    }
}

/* Logo */

@media (max-width: 735px) {
    .header__logo {
        z-index: 1;
    }
}

@media (min-width: 736px) {
    .header__logo {
        align-self: start;
    }

    .header--index .header__logo {

    }
}

/* Menu */

@media (min-width: 736px) {
    .header__menu {
        align-self: center;
    }
}
