/* Main */

.main {
    margin-right: 0;
    background-color: white;
}

.main__content {
    margin-bottom: 30px;
}

.main__section {
    margin-top: 16px;
}

@media (min-width: 960px) {
    .main {
        width: calc(66.7% + 20px);
    }
}

@media (min-width: 1024px) {
    .main {
        padding: 32px 0 16px;
    }

    .main__content {
        margin-bottom: 40px;
    }
}
