/* Menu */

@media (max-width: 735px) {
    .menu {
        display: grid;
    }
}

/* Button */

@media (max-width: 735px) {
    .menu__button {
        z-index: 1;
        display: block;
        justify-self: end;
        margin: 0;
        margin-top: 24px;
        margin-right: 16px;
        padding: 0;
        background-color: transparent;
        border: none;
    }
}

@media (min-width: 736px) {
    .menu__button {
        display: none;
    }
}

/* Icon */

@media (max-width: 735px) {
    .menu__icon {
        display: block;
        stroke: black;
    }

    .menu__icon:hover {
        stroke: var(--color-special-neutral);
    }

    .menu__icon-menu,
    .menu__button--open .menu__icon-cross {
        display: block;
    }

    .menu__icon-cross,
    .menu__button--open .menu__icon-menu {
        display: none;
    }
}

/* List */

.menu__list {
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
    line-height: 2;
}

@media (min-width: 736px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: 8px;
    }

    .menu--index .menu__list {
        display: flex;
        flex-direction: column;
        line-height: 2;
        column-gap: normal;
    }
}

/* Item */

.menu__item {
    letter-spacing: 0.02em;
}

@media (min-width: 736px) {
    .menu--index .menu__item {
        margin-right: 16px;
    }
}

/* Link */

.menu__link {
    color: black;
    text-decoration: none;
}

.menu__link[href]:hover {
    color: var(--color-blue-darker);
    border-bottom: 1px solid var(--color-blue-darker);
}

.menu__link--current {
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.menu__link--inactive {
    color: var(--color-grey-medium);
}

.menu__link--patreon {
    padding-left: 18px;
}

.menu__link--patreon::before {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: -18px;
    content: url('../../images/patreon.svg');
}

@media (max-width: 735px) {
    .menu__link--patreon {
        margin-left: -18px;
    }
}
