/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'onepage/box-sizing.css';
@import 'onepage/visually-hidden.css';
@import 'onepage/page.css';
@import 'onepage/aside.css';
@import 'onepage/header.css';
@import 'onepage/logo.css';
@import 'onepage/menu.css';
@import 'onepage/articles.css';
@import 'onepage/archive.css';
@import 'onepage/notice.css';
@import 'onepage/main.css';
@import 'onepage/content.css';
@import 'onepage/media.css';
@import 'onepage/links.css';
@import 'onepage/footer.css';
@import 'onepage/article.css';
@import 'onepage/creators.css';
@import 'onepage/blob.css';
@import 'onepage/related-articles.css';
@import 'onepage/article-card.css';
@import 'onepage/conference-link.css';
@import 'onepage/video.css';
@import 'onepage/tooltip.css';
@import 'onepage/not-found.css';

/* Globals */

:root {
    --color-grey-lightest: #e9eaeb;
    --color-grey-lighter: #d9d9d9;
    --color-grey-light: #828282;
    --color-grey-medium: #696969;
    --color-grey-dark: #242424;
    --color-grey-darker: #333333;

    --color-blue-lightest: #82ff84;
    --color-blue-lightest-0a: rgba(147, 255, 130, 0);
    --color-blue-light: #00ff51;
    --color-blue-medium: #00e849;
    --color-blue-darker: #00d331;

    --color-green-light: #82ff9b;
    --color-green-darker: #2cff4f;
    --color-green-darker-50a: rgba(44, 255, 93, 0.5);

    --color-teal: #00d382;
    --color-lightteal: #00e897;
    --color-turquoise: #00ff8c;
    --color-moss: #2bb198;
    --color-grass: #2cffae;

    --color-special-neutral: #2cff3e;
    --color-special-dark-10a: rgba(0, 211, 18, 0.1);
    --color-special-dark: #00e836;
}
