/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/box-sizing.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/page.css';
@import 'blocks/aside.css';
@import 'blocks/header.css';
@import 'blocks/logo.css';
@import 'blocks/menu.css';
@import 'blocks/articles.css';
@import 'blocks/archive.css';
@import 'blocks/notice.css';
@import 'blocks/main.css';
@import 'blocks/content.css';
@import 'blocks/media.css';
@import 'blocks/links.css';
@import 'blocks/footer.css';
@import 'blocks/article.css';
@import 'blocks/creators.css';
@import 'blocks/blob.css';
@import 'blocks/related-articles.css';
@import 'blocks/article-card.css';
@import 'blocks/conference-link.css';
@import 'blocks/video.css';
@import 'blocks/tooltip.css';
@import 'blocks/not-found.css';

/* Globals */

:root {
    --color-grey-lightest: #e9eaeb;
    --color-grey-lighter: #d9d9d9;
    --color-grey-light: #828282;
    --color-grey-medium: #696969;
    --color-grey-dark: #242424;
    --color-grey-darker: #333333;

    --color-blue-lightest: #82ff84;
    --color-blue-lightest-0a: rgba(147, 255, 130, 0);
    --color-blue-light: #00ff51;
    --color-blue-medium: #00e849;
    --color-blue-darker: #00d331;

    --color-green-light: #ffcb82;
    --color-green-darker: #ffaa2c;
    --color-green-darker-50a: #ffaa2c80;

    --color-teal: #d37e00;
    --color-lightteal: #e88b00;
    --color-turquoise: #ff9900;
    --color-moss: #ffa217;
    --color-grass: #ffaa2c;

    --color-special-neutral: #2cff3e;
    --color-special-dark-10a: rgba(0, 211, 18, 0.1);
    --color-special-dark: #00e836;
}
