.aside {
    position: initial;
    top: 0;
    align-self: flex-start;
}

@media (min-width: 960px) {
    .aside {
        position: sticky;
        align-self: flex-start;
        width: calc(33.3% - 20px);
        padding: 32px 0 16px;
    }
}
