/* Header */

.header {
    position: relative;
    padding: 16px;
    margin: 16px 0 0 0;
}

/* Logo */

@media (max-width: 735px) {
    .header__logo {
        z-index: 1;
    }
}

@media (min-width: 736px) {
    .header__logo {
        align-self: start;
    }
}

/* Menu */

@media (min-width: 736px) {
    .header__menu {
        align-self: center;
    }
}
