name: Deploy to Production

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        run: npm run build

      # ---- Далее идёт деплой на сервер через SSH ----
      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzrO --delete   # флаги rsync: архив, сжатие, рекурсивно, удалять лишнее
          path: ./                   # что копируем (текущая папка)
          remote_path: ${{ secrets.STAGE_TARGET_DIR }}
          remote_host: ${{ secrets.STAGE_SERVER_IP }}
          remote_user: ${{ secrets.STAGE_SERVER_USER }}
          remote_key: ${{ secrets.STAGE_SERVER_KEY }}
          remote_port: ${{ secrets.STAGE_SERVER_PORT }}

      - name: Restart application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGE_SERVER_IP }}
          username: ${{ secrets.STAGE_SERVER_USER }}
          key: ${{ secrets.STAGE_SERVER_KEY }}
          port: ${{ secrets.STAGE_SERVER_PORT }}
          script: |
            cd ${{ secrets.TARGET_DIR }}
            npm ci --production
            pm2 restart hanriel.ru